
# Signing keys. Direct key env variables are preferred. Do not use fake keys.
SIGNING_PRIVATE_KEY=aBBD0LmTkD9kQYWtHFcuhPOFSULFvBE8FaMVttGO3as6cpuGKWRmRrADh0NVhX+P7pJGWy8wZbKeO6gTuZFlrg==
SIGNING_PUBLIC_KEY=OnKbhilkZkawA4dDVYV/j+6SRlsvMGWynjuoE7mRZa4=

# Encryption keys, if required by your ONDC onboarding profile.
ENCRYPTION_PRIVATE_KEY=MC4CAQAwBQYDK2VuBCIEIJirkVL/EgQMmsyMEVQomdv1HqfzlG5WX9bzulXt3mhC
ENCRYPTION_PUBLIC_KEY=MCowBQYDK2VuAyEAWiypL9endiKsUGVozSBzYZRrvzy2X5g/6O1hiFGQGhA=


ONDC_REGISTRY_URL=TODO_ONDC_REGISTRY_URL
ONDC_REGISTRY_TIMEOUT_SECONDS=10
WORKBENCH_MODE=true
WORKBENCH_BASE_URL=https://workbench.ondc.tech/api-service/ONDC:FIS14/2.1.0/seller



SUBSCRIBER_ID=ondcapi.walkingtree.tech
UNIQUE_KEY_ID=cbbb99f5-ec6c-4ab6-bac6-3b6114c41664

BAP_ID=ondcapi.walkingtree.tech

BAP_URI=https://ondcapi.walkingtree.tech/ondc
BAP_CALLBACK_URI=https://ondcapi.walkingtree.tech/ondc

ONDC_DOMAIN=ONDC:FIS14
ONDC_VERSION=2.0.0

APP_NAME=ONDC MF Buyer NP
APP_ENV=prod

HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

REQUIRE_ONDC_AUTH=true
